@import '../../index.module.css'; 

.navBar {
    display: flex;
    height: 10vh;
    position: relative;
    justify-content: center;

}

.navGames, .navUser, .hamburger {
    padding: 35px 0 0 0;
    text-decoration: none;
    color: var(--clr-light-2);
    font-size: 1.7rem;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
}

.navGames p:hover, .navUser p:hover, .hamburger p:hover {
    color: var(--clr-red-1);
}

.navGames p, .navUser p, .hamburger p {
    font-size: 1.2rem;
    margin: 0 0 0 5px;
}

.navHome {
    padding: 10px 0 0 0;
}


.navBar img {
    width: 60px;
}

.navLinks {
    width: 30vw;
    display: flex;
    justify-content: center;
    margin: 0 10vw 0 0;
    column-gap: 50px;
    position: absolute;
    right: 0;
}