:root {
  --clr-light-1: #FFFFFF;
  --clr-light-2: #FFFFF0;
  --clr-light-3: #DCDCDC;
  --clr-dark-1: #0f0f10;
  --clr-dark-2: #1c1c1e;
  --clr-grey-1: #2F2F2F;
  --clr-grey-2: #D9D9D9;
  --clr-red-1: #75282A;
  --clr-red-2: #391517;
  --clr-gold-1: #B8860B;
  --ff-primary: 'Courier New', Courier, monospace;
  --radius: 0.5rem;
  --spacing: 0.15rem;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--clr-dark-1);
  color: var(--clr-light-1);
}

input {
  color: var(--clr-dark-1);
  border-radius: var(--radius);
  background-color: var(--clr-light-2);
  padding: 10px;
  margin: 10px;
  border: none;
  outline: none;
}

.body {

}

.gamesMainContainer, .homeMainContainer,  .userMainContainer {
  height: 80vh;
}

.gamesMainContainer {
  height: auto;
}

.gameCard {
  width: 500px;
  height: 300px;
  background-color: var(--clr-red-1);
  border-radius: 10px;
  overflow: hidden;
}

.gameCard img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
}

.gamesMainContainer {
  margin: 5vw 0 0 5vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px; /* Adjust the gap between cards as needed */
  justify-content: center;
  align-items: start;
  /* height: auto; */
}

.homeMainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homeMainContainer h1 {
  font-size: 4rem;
  text-align: center;
}

.homeMainContainer h1 span {
  font-size: 6rem;
}

.userMainContainer {

}

.signContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.signForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}